* {
    /* outline: 1px dashed rgb(49, 49, 49); */
}

header {
    text-align: center;
    background-color: rgb(129, 129, 129);
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    color: lightgray;
    text-shadow: rgb(8, 8, 8) 1px 0 10px; 
}

h1 {
    font-size: 50px;
    font-weight: bold;
    padding: 20px; 
}

nav {
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    background: lightgray;
    background-position: 0;
    border-radius: 10px;
}

ul li {
    display: inline;
    padding: 35px;
}

main {
    background-color: lightgray;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

img {
    height: 350px;
    width: auto;
    padding: 25px;
    filter: drop-shadow(0 0 .75rem black);
}

.education {
    padding: 10px;
}

.jobhistory {
    padding: 10px;
}

.quiz {
    padding: 25px;
}

h2 {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

ol li {
    list-style-position: inside;
    list-style-type: number;
}

footer {
    clear: both;
    text-align: center;
    padding: 20px;
    background-color: rgb(129, 129, 129);
    font-family: 'Roboto', sans-serif;
    text-shadow: rgb(8, 8, 8) 1px 0 10px;
    color: lightgray;
}